
.container-Counter {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .head {
  }
  .body {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      position: relative;
      top: -3px;
      margin: 0 10px;
      font-weight: 600;
      font-size: 2em;

    }
  }
}
